.tile-container {
	border-radius: 4px;
}

.tile-image {
	height: 300px;
	background-size: cover;
	border-radius: 4px;
	width: 100%;
	/*	filter: blur(1px) grayscale(100%);*/
}

.tile-header {
	color: #ffffff;
	text-transform: uppercase;
}

.tile-overlay {
	background: rgba(75, 61, 52, 0.5);
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	border-radius: 4px;
}

.tile-overlay:hover {
	background: rgba(75, 61, 52, 0.1);
}
