.ff-logo {
	height: 60px;
}

.one-line {
	display: flex;
	justify-content: center;
}

.margin10 {
	padding-right: 5%;
	padding-left: 5%;
}

@media screen and (max-width: 768px) {
	.header-search-input-bar {
		margin-left: 15px;
		margin-right: 15px;
	}

	.ff-logo-container {
		display: flex;
		justify-content: center;
	}

	.ff-logo {
		height: 55px;
	}
}
