.searchtile-container {
	width: 100%;
	border-radius: 6px;
	display: flex;
	justify-content: center;
}

.searchtile-image {
	height: 200px;
	width: 200px;
	background-size: cover;
	display: flex;
	border-radius: 6px;
}

.searchtile-details {
}

.searchtile-overlay {
	background: rgba(75, 61, 52, 0.9);
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	border-radius: 4px;
	align-self: flex-end;
	padding: 10px 0px;
}

.searchtile-header {
	color: #ffffff;
	text-transform: uppercase;
}

.searchtile-overlay:hover {
}

@media screen and (max-width: 1087px) {
	.searchtile-image {
		height: 170px;
		width: 170px;
	}
}

@media screen and (max-width: 768px) {
	.searchtile-image {
		height: 400px;
		width: 400px;
	}
}
