.social-media-bar {
	margin-bottom: 0;
	padding-left: 5%;
	padding-right: 10%;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #e6e6e6;
}

.social-media-bar a {
	color: #4a4a4a;
}

.social-media-bar a:hover {
	color: #4a4a4ab0;
}

@media screen and (max-width: 768px) {
	.social-media-bar {
		text-align: center;
		margin-bottom: 1rem !important;
	}

	.level-right {
		margin-top: 5px !important;
	}
}
