.filter-checkbox {
	border: 1px solid #ccc;
	padding: 5px;
	display: block;
	height: 2.2em;
	text-transform: uppercase;
}

.filter-checkbox:hover {
	background: #eee;
	cursor: pointer;
}

.hide-input {
	display: none;
}

.search-filter-form {
	font-size: 0.8em;
}

.search-filter-form input {
}

.search-filter-form .field {
	margin-right: 10px;
}

.search-filter-form span.select {
	font-size: 0.8em;
}

.sort-selected {
	text-decoration: underline;
}

.sort-unselected {
	cursor: pointer;
}

.filter-selected {
	background: #eee;
}
