.filter-checkbox {
	border: 1px solid #000;
	padding: 8px;
	display: block;
	text-transform: uppercase;
	background-color: rgba(0, 0, 0, 0.5);
	color: #fff;
}

.filter-checkbox:hover {
	background: #ffdd57;
	cursor: pointer;
}

.hide-input {
	display: none;
}

.search-filter-form {
	font-size: 0.8em;
}

.search-filter-form input {
}

.search-filter-form .field {
	margin-right: 10px;
}

.search-filter-form span.select {
	font-size: 0.8em;
}

.search-filter-form span.select select {
	border: 1px solid #000;
	text-transform: uppercase;
	background-color: rgba(0, 0, 0, 0.5);
	color: #fff;
}

.sort-container {
	display: flex;
	flex-direction: row;
	padding: 10px;
}

.sort-total {
	flex-grow: 1;
}

.sort-selected {
	text-decoration: underline;
	font-weight: bold;
}

.sort-unselected {
	cursor: pointer;
}

.filter-selected {
	background: #eee;
}

.filter-container {
	width: 100%;
	padding: 10px;
	background: #4a3d35;
}

.search-filter-form {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
