.banner-image {
	height: 300px;
	background-size: cover;
}

.banner-header {
	color: #ffffff;
	text-transform: uppercase;
	letter-spacing: 0.5px;
}

.banner-overlay {
	background: rgba(0, 0, 0, 0.8);
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}
