.banner {
	color: white;
	height: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #e6e6e6 no-repeat center top;
	background-size: cover;
}

.banner h2 {
	font-size: 2em;
	text-align: center;
}
