.banner {
	color: white;
	height: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #e6e6e6 no-repeat center top;
	background-size: cover;
	text-align: center;
}

.banner h2 {
	color: #fff;
}
